.problem {
	color: #D8D8D8;
	text-decoration: none;
	margin-bottom: 20px;
    cursor: pointer;
}

.button-group {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.inline-button {
	display: inline-block;
}

.problem:hover {
	color: #FFFFFF;
}

.problem.correct {
    color: #00FF00;
}

body {
	background-color: #FFFFFF;
}

#menu {
	background-color: #2E2E2E;
	font-size: 12pt;

}

#content {
	background-color: #000000;
	color: #FFFFFF;
}