body {
    background-color: #222222;
    margin: 0px;
    padding: 0px;
    font-family: "open sans", sans-serif;
}

h1{
    padding-top: 30px;
    font-size: 35px;
}

.problem {
	margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
    width: 33%;
}

.button-group {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.inline-button {
	display: inline-block;
}

.operator-btn {
    width: 45px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #CCCCCC;
    padding: 7px 0;
    font-size: 18px;
    font-weight: bold;
}

.problem.correct {
    color: #086b08;
    font-weight: bold;
}

#answer {
    font-size: 23px;
    height: 50px;
    margin-bottom: 35px;
    font-family: "Droid Sans Mono", monospace;
}

#menu {
	background-color: #2E2E2E;
	font-size: 10pt;
	height: 100%;
	overflow: hidden;
}

#content {
	color: #FFFFFF;
    display: none;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    max-width: 700px;
}

#form-box {
	color: #000000;
}

.center {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#question {
    padding: 30px 10px;
}

#operators {
    margin-bottom: 20px;
}

#result {
    font-size: 16px;
    margin: 20px 10px;
}

#submit, #show-levels {
    width: 120px;
    height: 40px;
}

#show-levels{
    float: right;
}

#stars{
    display: inline-block;
    float: right;
    color: #fff95b;
}

#stars.stars-0 {
    color: #555555;
}

#stars.stars-1 i+i {
    color: #555555;
}

#stars.stars-2 i+i+i {
    color: #555555;
}

#level-modal {
    margin-top: 120px;
}

#spinner {
    margin-left: 20px;
    font-size: 30px;
    position: relative;
    top: 5px;
    color: silver;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}