.problem {
	color: #D8D8D8;
	text-decoration: none;
}

.problem:hover {
	color: #FFFFFF;
}

body {
	background-color: #fff;
}

#menu {
	background-color: #2E2E2E;
	font-size: 12pt;

}

#content {
	background-color: #000000;
	color: #FFFFFF;
}